@charset "utf-8"
* {
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
ul,ol {
	list-style:none;
}
input {
	padding-top:0;
	padding-bottom:0;
	bottom: none;
}

body {
	font: normal normal 12px "宋体";
}